@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #35AC86;
  --color-secondary: #03373D;
}


.input-field {
  @apply w-full border border-gray-300 bg-white p-3 rounded-xl focus:ring-2 
         focus:ring-[#35AC86] focus:border-[#35AC86] outline-none transition;
}
.text-primary {
  color: #35AC86;
}
.bg-primary {
  background-color: #35AC86;
}
